@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
  /* font-family: "Open Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-family: "Source Han Sans TC", "Noto Sans", Helvetica, Arial, sans-serif;
  background: rgb;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  background: rgb(236,236,236);
  color: rgb(55,53,54);
  font-size: 16px;
  
}
a {
  text-decoration: none;
  color: rgb(0,191,198);
}
@media screen and (min-width: 1000px){
  .wrapper{
     width: 1000px;
  }
  .nav{
    max-width:1000px;
    margin:0 auto;
  }
}
@media screen and (max-width: 1000px){
  .nav{
     width: 100%;
  }
}
@media (max-width: 400px){
  .wrapper{
     width: 100%;
  }
  .nav{
     width: 100%;
  }
}
.page_wrapper {
  height: 100%;
}
.wrapper {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 8px;
  box-sizing: border-box;
  position: relative;
  /* background: rgb(236,236,236);*/

}
#content {
	margin-top: 40px;
  min-height: 600px;
}
#person_content {
  margin-top: 96px;
}
#page_content {
  min-height: 600px;
}
hr {
  border: 0;
  height: 1px;
  background: rgb(220,220,220);
}
.l_right {
  text-align: right;
}

/* ------------------------------------------------------------ */
/* footer
/* ------------------------------------------------------------ */
#footer {
  margin: 0px;
  padding: 5px;
  margin-top: 50px;
  background: #E0E0E0;
  width: 100%;

}
#footer ul {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}
.footer_link {
  text-align: center;
  margin-bottom: 30px;
}
.footer_logo {
  width: 100%;
  text-align: center;
}
.footer_text {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  margin: 0px;
  text-align: center;
}
.footer_text a, .footer_text a:visited {
  
  color: #757575;
}
.footer_img {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
}
.footer_img img {
  width: 100px;
}
#footer_apple {
  padding-bottom: 14px;
}
#footer_watchout {
  width: 110px;
}
@media screen and (max-width: 400px){
  .footer_img {
    margin: 0px 5px;
  }
}

/* ------------------------------------------------------------ */
/* material test
/* ------------------------------------------------------------ */

header {
  z-index: 100;
  color: white;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
  background: rgb(220, 220, 220);
  text-align: center;
}

/* ------------------------------------------------------------ */
/* nav serach
/* ------------------------------------------------------------ */

.nav_search {
  width: 100%;
  padding-left: 45px;
  text-decoration: center;

}
.nav_search_inner {
  width: 100%;
  position: relative;
  padding-right: 32px;
  padding-top: 6px;
}
.nav_search_inner input {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 5px;
  border: none;
  padding: 3px;
  border-radius: 2px;
  padding-left: 10px;
  background: rgba(255,255,255,0.1);
  color: white;

}
.nav_search_inner input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.nav_search_inner i{
  color: white;
  position: absolute;
  right: 10px;
  top: 12px;
}
.nav_search_tooltip {
  z-index: 600;
  position: absolute;
  top: 45px;
  width: 100%;
  text-align: center;
  padding: 0px 80px;
  
}
.nav_search_tooltip_inner {
  background: rgb(247,246,247);
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  color: rgb(53,55,54);
  cursor: pointer;

}
.nav_background {
  background: #009688;
}
.fs {
  background: rgb(200,200,200);
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.2em;
  height: 36px;
  width: 180px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 10px;
}
input{
  outline: none;
}

.l_inline {
  display: inline-block;
}
.l_center {
  text-align: center;
}
.l_left {
  text-align: left;
}
.v_top {
  vertical-align: top;
}

/* ------------------------------------------------------------ */
/* question
/* ------------------------------------------------------------ */

.q_title{
  display: inline-block;
  /*white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;*/

  width: 100%;

  text-align: left;
  background: white;
  padding: 3px 0px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  height: auto;

  /* used for functional buttons */
  /* padding-right: 60px; */
  
}
.q_info {
  float: left;
}
.q_text {
  overflow:hidden;  _overflow:visible;  zoom:1;
}
.q_function {
  display: none;
}
.q_item:hover .q_function{
  display: inline-block;
  z-index: 99;

}
.q_function_sign {
  position: absolute;
  right: 30px;
  font-size: 16px;
}
.q_function_signed {
  color: #009688;
}
.q_function_unsigned {
  color: #E0E0E0;
}
@media screen and (max-width: 400px){
  .q_function_signed {
    display: none;
  }
}

.q_order {
  font-weight: 500;
  width: 20px;
  margin-left: 10px;
}
.q_title_focus {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
.q_vote_mobile {
  display: inline-block;
  color: rgb(200,200,200);
  font-size: 12px;
}
@media screen and (min-width: 600px){
  .q_vote_mobile {
    display: none;
  }
}

@media screen and (max-width: 600px){
  .q_order, .q_vote {
    display: none;
  }
  .q_title_mobile_inner {
    display: block;
  }
}
.q_vote {
  width: 70px;
  padding-right: 15px;
  color: rgb(214,90,90);
  text-align: right;
  border-right: 1px solid rgb(220,220,220);
  margin-right: 5px;
}
.q_postmeta {
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
}
a.q_postmeta {
  color: rgb(55,53,54);
}
a.q_postmeta:hover {
  color: #03A9F4;
}
.q_action {
  margin: 0px;
}
.q_action_btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(220,220,220);
  color: rgb(200,200,200);
  padding: 7px 0px;
  text-align: center;
  margin-right: 4px;
  display: inline-block;

-moz-transition: .2s;
-ms-transition: .2s;
-webkit-transition: .2s;
transition: .2s;
transition-duration: .5s;
 
}
.q_action_btn_rating {
  color: #E53935;
  border-color: #E53935;
}
.q_action_btn_rating:hover {
  color: white;
  background: #E53935;
  border-color: #E53935;
}
.q_action_btn_fbshare {
  color: #1976D2;
  border-color: #1976D2;
}
.q_action_btn_fbshare:hover {
  color: white;
  background: #1976D2;
  border-color: #1976D2;

}
.q_title_active {
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 15px;
  width: 100%;
}
.q_fixTitle {
  display: none;
}
.q_title_fixed {
  position: fixed;
  display: inline-block;
  top: 42px;

  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;

  z-index: 90;
  height: 40px;

  background: transparent;

}
.q_title_fixed_inner {
  background: white;
  margin: 0px 1px;
  padding: 15px;
  border-bottom: 1px solid rgb(220,220,220);

  font-size: 18px;
  font-weight: 700;

}
.q_title_response {
  margin-bottom: 10px;
}

.q_title_response_web_text {
  vertical-align: top;
  padding-top: 20px;
  display: inline-block;
  font-weight: 800;
  font-size: 20px;
  
}
.q_title_response_web_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;

}
.q_title_response_text {
  border-bottom: 4px solid #4DB6AC;
  display: inline-block;
  padding-bottom: 5px;
}
.q_responses_web {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(220,220,220);
}


.q_responses_otherreply {
  text-align: center;
  padding: 10px 5px;
  background: rgb(220,220,220);
}
.q_responses_otherreply_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;

}


.q_item {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-bottom: 1px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;

  padding: 10px;
  width: 100%;
  position: relative;

  background: white;
}
.q_text {
  padding: 0px 20px 0px 10px;
}
.q_content {
  margin-top: 45px; /* for fixed nav */
  text-align: left;
  height: auto;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  background: rgb(247,247,247);

}
.q_content--hideleft {
  position: absolute;
  top: 0px;
  left: -100%;
  width: 0px;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
  overflow: hidden;

}
.q_content--hideright {
  position: absolute;
  top: 0px;
  right: -100%;
  width: 0px;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  transition-duration: .5s;
  overflow: hidden;
  
}
.q_content--show {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: right .5s ease-in-out;
  transition: right .5s ease-in-out;
  overflow: scroll;

}
.q_content_title {
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
  text-align: center;
}
.q_content_q_more_block {
  text-align: center;
  margin: 5px 0px 15px 0px;
  border-bottom: 1px solid rgb(220,220,220);
  height: 12px;
}
.q_content_q_more {
  border: 1px solid rgb(220,220,220);
  display: inline-block;
  padding: 0px 20px 10px 20px;
  line-height: 10px;
  border-radius: 10px;
  color: rgb(150,150,150);
  background: white;
  position: absolute;
  cursor: pointer;

}
.q_pending_candidates {
  margin: 20px auto;
}
.l_vtop {
  vertical-align: top;
}
.nav_item {
  cursor: pointer;
  padding: 0px 10px;
  margin-top: 5px;
}

a.button {
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  background: #26A69A;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 14px;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
}
a.button--square {
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  background: #26A69A;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  text-align: center;

}
a.button.unsign {
  /* background: #db4437; */
  min-width: 83px;
}
a.button.facebook{
  background: #0277BD;
}
a.button--square.active, a.button--wide.active{
  /* color: rgb(53,55,54); background: #009688; color: white; */
  color: #009688;
}
a.button.goodrating{
  background: #8BC34A;
}
a.button--wide {
  font-weight: 900;
  background: white;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  color: rgb(53,55,54);
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  padding: 4px 10px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;


}

/* ------------------------------------------------------------ */
/* Policy
/* ------------------------------------------------------------ */
.p_item {
  background: white;
  padding: 20px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
}
.p_title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.p_actionicon {
  display: none;
}
.p_title:hover .p_actionicon{
  display: inline-block;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: 1.5s;
}
.p_seeall {
  margin-left: 10px;
  color: #616161;
  cursor: pointer;
}
.p_seeall:hover {

  opacity: 0.8;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.p_preview {
  margin-top: 10px;

}
.p_preview_hide {
  height: 0px;
  overflow: hidden;

}
.p_fullcontent_hide{
  height: 0px;
  overflow: hidden;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: 1.5s;

}

/* ------------------------------------------------------------ */
/* index / policy list
/* ------------------------------------------------------------ */
.c_item {
  background: white;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  padding-bottom: 20px;
  
}
@media screen and (max-width: 440px){
  .c_item {
    width: 100%;
    height: auto;
    min-height: 100px;
  }
}
.c_title {
  font-size: 22px;
  font-weight: 600;
}
.c_count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #EEEEEE;
  border-radius: 100%;
  padding: 11px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: #9E9E9E;
  font-weight: 800;
  font-size: 14px;
}
@media screen and (max-width: 440px){
  .c_count {
    bottom: 5px;
    right: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
  }
}

/* ------------------------------------------------------------ */
/* sidebar
/* ------------------------------------------------------------ */

#sidebar-shadow {
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  position: absolute;
  left:0px;
  top: 0px;
  z-index: 400;
  
 
}
#sidebar-container {
  z-index: 400;
  width: 0;
  padding-right: 50px;
  box-sizing: border-box;
  height: 100%;
  top: 0px;
  left: -50px;
  overflow: hidden;
  position: absolute;
  text-align: center;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
  
}
.sidebar-container_left {
  background: white;
  height: 100%;
}
#sidebar-container.show{
  top: 0px;
  height: 100%;
  width: 100%;
  left: 0px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;

}
#focus-question{
  z-index: 400;
  background: rgb(247,247,247);
  position: absolute;
  text-align: center;
 
  top:0px;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
  overflow: scroll;
  height: 100%;
  width: 0px;
  right: -100%;

}

#focus-question.show{
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  right: 0px;
  
  -webkit-transition: right .5s ease-in-out;
  transition: right .5s ease-in-out;

}
.q_content_nav_tab {
  height: 35px;
  position: relative;
  width: 100%;
  text-align: right;
 
}
.q_content_nav {
  width: 100%;
  min-height: 40px;
  position: fixed;
  background: #424242;
  font-weight: 700;
  z-index: 400;
  color: white;
  text-align: right;
}
.q_content_nav.show {
  position: fixed;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
}
.q_content_nav_remove {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
a.nav_item_sidebar {
  display: block;
  padding: 10px;
  color: #009688;
  /* border-bottom: 1px solid rgb(240,240,240); */
  text-align: left;
  cursor: pointer;
}
a.nav_item_sidebar--right {
  border-bottom: 1px solid rgb(240,240,240);
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
a.nav_item_sidebar--inner {
  color: rgb(53,55,54);
}
/* ---------- */
.eventmenu {
  height: auto;
  border-left: 5px solid rgb(200,200,200);
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.eventmenu--hide {
  height: 0px;
  overflow: hidden;
  
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}
a.nav_item_sidebar--left {
  display: block;
  padding: 10px;
  color: #009688;
  border-bottom: 1px solid rgb(240,240,240);
  text-align: left;
  cursor: pointer;
  height: 40px;

}
a.nav_item_sidebar--half {
  display: inline-block;
  width: 48%;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;

}
a.nav_item_sidebar--gray {
  display: block;
  padding: 10px;
  color: #009688;
  border-bottom: 1px solid rgb(240,240,240);
  text-align: left;
  cursor: pointer;
  background: rgb(220,220,220);
  color: rgb(53,55,54);
  font-weight: 700;

}
a.nav_item_sidebar:hover {
  /* background: rgb(220,220,220); */
  
}

/* Required for Triangle */
.tri-up:before, .tri-up:after {
  content: "";
  position: absolute;
  right: 18px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  z-index: 420;
}
/* Stroke */
.tri-up:before {
  top: 43px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  }
/* Fill */
.tri-up:after {
  top: 42px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.nav_list_toggle {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 12px;
  z-index: 10;
}
/*
@media screen and (min-width: 600px){

  #sidebar-container{
    z-index: 99;
    width: 300px;
    height: 100%;
    background: white;
    position: absolute;
    top: 50px;
    left: -300px;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    text-align: left;

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  #sidebar-container.show{
    top: 50px;
    left:0px;
    overflow: auto;
  }

}
*/
.nav_list_function {
  position: absolute;
  top: 0px;
  right: 10px;

}
.nav_list_function_item {
  height: 50px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  width: 130px;
}
.nav_list_function_item_user {
  height: 50px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  
}

.nav_list_function_item_hide {
  opacity: 0;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.nav_list_function_item_inner {
  background: white;
  cursor: pointer;
  padding: 5px 10px 3px 5px;
  color: black;
  border-left: 5px solid white;
}
.nav_list_function_item_text {
  margin-top: 15px;
  vertical-align: top;
  display: inline-block;

}
.nav_list_function_item_tooltip {
  height: 40px;
  color: black;
  padding: 8px 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: 100%;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,.08),0 4px 8px rgba(0,0,0,.16);
}
.nav_list_toolbar {
  background: white;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  box-shadow: 0 0 4px rgba(0,0,0,.08),0 4px 8px rgba(0,0,0,.16);
  overflow: hidden;
  z-index: 430;

}
.nav_list_toolbar_hide {
  height: 0px;
}
.nav_list_function_item_inner img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.nav_list_function_item_inner:hover{
  border-left: 5px solid gray;
}
.nav_list_function_item_select {
  cursor: pointer;
  padding: 15px 5px;
  height: 50px;
  overflow: hidden;

}
.user_profile_image {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: 10px;
}
#toggleCtrl {
  position: absolute;
  right: 0px;
  top: 0px;

}
#candidateTopMenu {
  position: absolute;
  right: 30px;
  top: 0px;
}
#userMenu {
  position: absolute;
  right: 10px;
  top: 0px;
}
.nav_list_home {
  position: absolute;
  top: 13px;
  left: 45px;
}
#watchout_nav_logo {
  width: 80px;
  position: absolute;
  top: -18px;
  left: 62px;

}

/* ------------------------------------------------------------ */
/* compose / ask question
/* ------------------------------------------------------------ */
.ask_prompt {
  background: #212121;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 10px;
  
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  z-index: 90;
  text-align: center;

}

.ask_item {
  background-color: #FFA000;/*#db4437;*/
  height: 56px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 56px;

  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  cursor: pointer;
  padding: 0;
  z-index: 90;
  text-align: center;

}
.ask_item:hover {
   box-shadow: 0 6px 6px rgba(0,0,0,.14),0 6px 16px rgba(0,0,0,.28);
}
.ask_icon {
  color: white;
  font-size: 30px;
  padding-top: 20px;
}

.ask_form {
  box-shadow: 0 0 4px rgba(0,0,0,.28),0 4px 8px rgba(0,0,0,.28);
  background: white;
  width: 500px;
  z-index: 99;
  position: fixed;
  right: 10px;
  bottom: -100%;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;

}
.ask_form.show{
  height: 100vh;
  bottom: 0%;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;

}
.ask_form_title {
  background: #009688;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
}
.ask_form_remove {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.ask_form_listitem {
  padding: 10px;
  border-bottom: 1px solid rgb(220,220,220);
}
.ask_form_subtitle {
  color: #009688;
  font-weight: 700;
  margin-right: 10px;
}
.ask_form_listitem input {
  width: 400px;
  border: 0;
}
.ask_form_content {
  height: 100%;

}
.ask_form_content textarea {
  width: 100%;
  min-height: 280px;
  padding: 10px;
  border: 0px;
  resize: none;
  box-sizing: border-box;
}
.ask_form_functions {
  padding: 10px;

}
.ask_form_functions .button {
  background: #009688;
}
.ask_form_functions .ask_form_trash {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 600px){
  .ask_form {
    z-index: 400;
    width: 100%;
    height: 100%;
    right: 0px;
    overflow: hidden;
    background: white;
    position: fixed;

  }
  .ask_form_listitem input {
    width: 100%;
    border: 0;
  }
  .ask_form_subtitle {
    display: block;
  }
  .ask_form_content textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px;
    resize: none;
  }
  .ask_form_functions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

  }
}
/* ------------------------------------------------------------ */
/* index
/* ------------------------------------------------------------ */

.color_white {
  background: white;
}
.page_section {
  background: url('../images/cover_banner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.index_section {
  position: relative;
  background: url('../images/cover.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 50%;
}
.index_content {
  width: 100%;
  position: relative;
  padding: 20px;
  z-index: 20;
  box-sizing: border-box;
  font-size: 18px;
  background: white;
  margin-bottom: 5px;
}
.index_maintitle {
  margin-bottom: 20px;
  border-bottom: 1px solid #BDBDBD;
  padding: 20px 0px;
}
.index_maintitle h1{
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  
}
.index_maintitle h3{
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  text-align: center;
}
@media screen and (max-width: 500px){
  .index_maintitle h1, .index_maintitle h3{
    text-align: left;
  }

}
.index_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.index_c_item {
  background: white;
  display: inline-block;
  cursor: pointer;
  width: 33%;
  margin: 1px;
  position: relative;
  text-align: center;
  height: 112px;
  padding-top: 30px;
  padding-left: 100px;

}
.index_c_item img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.index_c_item_name {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
}

@media screen and (max-width: 700px){
  .index_c_item {
    width: 100%;
    height: 112px;
    padding-top: 30px;
  }
  
}

/* ------------------------------------------------------------ */
/* page button left & right
/* ------------------------------------------------------------ */
.page_button {
  cursor: pointer;
  position: fixed;
  top: 48%;
  font-size: 30px;
  z-index: 99;
}
.page_right {
  right: 10px;
}
.page_left {
  left: 10px;
}
@media screen and (max-width: 1000px){
  .page_button {
    opacity: 0;
  }
}
/* ------------------------------------------------------------ */
/* page button left & right
/* ------------------------------------------------------------ */
.notification_wrapper {
  position: absolute;
  top: 60px;
  left: 50%;
}
#notification {
  background: #212121;
  position: relative;
  left: -50%;
  border-radius: 10px;
  color: white;
  z-index: 99;
  font-weight: 800;
  padding: 20px;
  height: 65px;
  box-sizing: border-box;

}
.notification_hide {
  opacity: 0;
  -webkit-transition: opacity .2s cubic-bezier(.4,0,.2,1);
  transition: opacity .2s cubic-bezier(.4,0,.2,1); 
}
.notification_show {
  opacity: 0.8;
}

/* ------------------------------------------------------------ */
/* radio button / sorting menu
/* ------------------------------------------------------------ */
.question_menu_meta {
  font-size: 20px;
  font-weight: 700;
}
.question_menu {
  position: relative;
  padding: 5px 10px 10px 10px;
  background: white;
}
.sorting_menu {
  position: absolute;
  top: 0px;
  right: 0px;
}
.radio {
  display: inline-block;
  padding-right: 20px;
  cursor: pointer;
  position: relative;
  width: 100px;
}
.radio_text {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 14px;
}
/* Native input control and checked events */
.radio input {
  opacity: 0; 
}
.radio input:checked + .outer { 
  border: 2px solid #009688;
}
.radio input:focus + .outer .inner {
  opacity: 1;  
  -webkit-transform: scale(1);
  transform: scale(1);
  
}
.radio input:checked + .outer .inner {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);

} 
/* Outer ring of custom radio */
.outer {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 10px 9px 10px 10px;
  border: 2px solid #009688;
  border-radius: 50%;
  
}
/* Inner ring of custom radio */
.inner {
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  width: 12px;
  height: 12px;
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: #009688;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio:hover .inner {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  
}

/* ------------------------------------------------------------ */
/* question bottom "more" function
/* ------------------------------------------------------------ */
.question_bottom {
  text-align: center;
  margin: 20px auto;
}
.question_bottom a.button {
  color: #424242;
  background: white;
  width: 100px;
}

/* ------------------------------------------------------------ */
/* slider
/* ------------------------------------------------------------ */

.slider_wrap { 
  position:relative;
  display: inline-block;
  margin-top: 18px;
  margin-right: 30px;
}
.slider_wrap input { 
  position: absolute;
  opacity: 0;
}
.slider {
  position: relative; 
  display: block;
  width: 2.5em; 
  height: 1em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 300ms;
  background: #00695C;
  
}
/* active base */
input:checked + .slider {
  background: #ECEFF1;
  
}
/* toggle button */
.slider::before {
  position: absolute; 
  content:'';
  width: 1.4em; height: 1.4em;
  top: -0.2em; left: -0.3em;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  background: #26A69A;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

}
.slider:hover::before {
  box-shadow: 0 0px 6px rgba(0,0,0,.12),0 4px 6px rgba(0,0,0,.24);
}
/* active button */
.slider::after {
  position: absolute; 
  border-radius: 50%;
  transition: 200ms ease-in;
}
input:checked + .slider::before {
  left: 1.4em;
  background: white;
}
.slider_wrap label, .slider_wrap label::before, .slider_wrap label::after{
  color: black;
  z-index: 190;

}

/* ------------------------------------------------------------ */
/* how to ask
/* ------------------------------------------------------------ */
.article_highlight {
  font-weight: 700;
}
.article_img {
  width: 200px;
}
.good_example {
  border-left: 10px solid #4CAF50;
  padding: 5px 10px;
  margin-bottom: 2px;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.16);
  
}
.bad_example {
  border-left: 10px solid #F44336;
  padding: 5px 10px;
  background: white;
  margin-bottom: 2px;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  
}
.quote {
  border-left: 10px solid rgb(100,100,100);
  padding: 5px 10px;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.16);
}

/* ------------------------------------------------------------ */
/* iframe
/* ------------------------------------------------------------ */
@media screen and (max-width: 540px){
  iframe {
    width: 100%;
    height: 220px;
  }
}

/* ------------------------------------------------------------ */
/* person page
/* ------------------------------------------------------------ */
.person_item {
  background: white;
  margin-bottom: 5px;
  position: relative;
  box-sizing: border-box;
  color: rgb(53,55,54);
  
}
.person_item_top {
  min-height: 150px;
  background: #009688;
  text-align: center;
  color: white;
}
.person_item_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;

}
.person_item_name_block {
  padding-left: 8px;
  position: relative;
  height: 100px;
}
.person_intro_name {
  font-size: 24px;
  font-weight: 800;
  
}
.person_intro_title {
  font-size: 18px;
  font-weight: 800;
  opacity: 0.9;
}
.person_intro_reply_count {
  position: absolute;
  top: 0px;
  right: 12px;
  text-align: center;
}
.person_intro_reply_count_main {
  font-size: 48px;
  padding-bottom: 0px;
  min-width: 50px;
}
.person_intro_reply_count_sub {
  font-size: 16px;
  position: absolute;
  right: 0px;
  bottom: -12px;
  width: 100%;
}
.person_item_info_block {
  height: 80px;
  width: 100%;
}
.person_item_action {
  position: relative;
  width: 100%;
  text-align: left;
  margin-top: 20px;
 
}
.comment_control_item {
  background: rgb(77,182,172);
  width: 100%;
  min-height: 60px;
  position: relative;
  margin-bottom: 20px;
}
.comment_control_item_action {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.comment_control_item_title {
  font-size: 22px;
  font-weight: 700;
  margin: 5px;
  text-align: center;
  color: white;
  padding: 32px 0px 40px 0px;
}
.comment_add_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FBC02D;
  position: absolute;
  bottom: -20px;
  right: 10px;
  z-index: 10;
  color: white;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
.comment_add_button:hover {
   box-shadow: 0 6px 6px rgba(0,0,0,.08),0 6px 16px rgba(0,0,0,.14);
}
/* ---- */
.control_item {
  margin-bottom: 1px;
  position: relative;
}
.control_item_right {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}
/* ---- */
.person_intro {
  background: white;
  height: 120px;
}
.person_intro_right {
  overflow:hidden;  _overflow:visible;  zoom:1; 
  padding: 4px;
  color: rgb(53,55,54);
}
/* ------------------------------------------------------------ */
/* person intro response
/* ------------------------------------------------------------ */
.r_item {
  border-top: 1px solid rgb(220,220,220);
  margin: 20px auto;
}
.r_item_img {
  width: 80px;
  border-radius: 50%;
  margin-top: 20px;
}
.r_item_name {
  font-weight: 700;
  font-size: 24px;
  vertical-align: top;
  margin-top: 50px;
  display: inline-block;
  margin-left: 10px;
}
/* ------------------------------------------------------------ */
/* person intro about
/* ------------------------------------------------------------ */
.person_intro_about {
  background: white;
  min-height: 300px;
  padding: 15px;
}
/* ------------------------------------------------------------ */
/* list paper
/* ------------------------------------------------------------ */
.list_paper {
  background: white;
}
.list_paper--inner {
  padding: 5px 20px;
}
.list_paper---control_panel {
  padding: 10px;
  border-bottom: 1px solid rgb(220,220,220);
  position: relative;
  min-height: 50px;
}
.list_paper---control_button {
  display: inline-block;
  cursor: pointer;
  margin: 2px;
}
.list_paper---right_control_button {
  position: absolute;
  right: 2px;
  top: 0px;
  padding-top: 12px;
  margin: 3px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
}

.list_paper---right_control_button:hover {
  background: rgb(230,230,230);
}
.list_paper---right_control_set {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 40;
  background: white;
  width: auto;

}
.list_paper---left_control_set {
  position: absolute;
  left: 0px;
  top: 35px;
  z-index: 40;
  background: white;
  width: auto;
}
.list_paper---right_control_set_item {
  background: white;
  padding: 8px 10px;
  cursor: pointer;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.12);

  
}
.list_paper---right_control_set_item.active {
  border-left: 6px solid rgb(53,55,54);
}
.list_paper---right_control_button.active  {
  background: rgb(230,230,230);
}
.list_paper---right_control_set_item:hover, .list_paper---right_control_button.active:hover{
  background: rgb(220,220,220);
}


.about_item_button {
  font-size: 22px;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  background: rgb(53,55,54);
  color: white;
  padding: 10px;
  margin-top: 10px;

}
@media screen and (min-width: 600px){
  .about_item_button {
      display: inline-block;
      width: 150px;
      margin-top: 20px;
  }
}
/* ------------------------------------------------------------ */
/* person
/* ------------------------------------------------------------ */
.person_collection {
  margin-top: 20px;

}
.person_collection_menu {
  border-bottom: 1px solid rgb(153,155,154);
  position: relative;
  padding-left: 20px;
  margin-top: 30px;

}
.person_collection_menuitem {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  display: inline-block;
  padding: 6px 30px;
  cursor: pointer;
  border-top: 1px solid rgb(153,155,154);
  border-left: 1px solid rgb(153,155,154);
  border-right: 1px solid rgb(153,155,154);
  
}
.person_collection_menuitem--active {
  box-shadow: 0px 5px 0px rgb(236,236,236);

}
.person_list {
  display: block;
  border-bottom: 1px solid rgb(220,220,220)

}
.person_card {
  background: white;
  margin-top: 1px;
  padding: 5px 0px 0px 5px;
  display: block;
  color: rgb(53,55,54);

}
.person_img {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.person_info {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 5px 5px 0px 10px;
}

.person_name {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;

}
/* ------------------------------------------------------------ */
/* cover
/* ------------------------------------------------------------ */
.cover {
  color: white;
  position: relative;
}
.cover_title_wrap {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25%;
  bottom: auto;
  font-size: 26px;
  font-weight: 900;

}
.cover_title {

  display: inline-block;
 
 
}
.cover_img {
  width: 100%;
}
.cover_botton_wrap {
  font-size: 16px;
}
.cover_botton {
   
  display: inline-block;
  border: 1px solid rgb(247,247,247);
  padding: 4px 12px;
  margin: 2px;
  margin-top: 6px;
  cursor: pointer;

  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}
.cover_botton:hover {
  background: white;
  color: rgb(53,55,54);

  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);transition-property: all;

}
/* ------------------------------------------------------------ */
/* post item
/* ------------------------------------------------------------ */ 
.post_item {
  background: white;
  margin-bottom: 5px;
  padding: 8px 8px 45px 8px; 
  position: relative;

  box-sizing: border-box;
  height: auto;
  text-align: left;
}

.post_item_last {
  padding-top: 30px;
}
.post_item_intermediate {
  background: white;
  
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid rgb(240,240,240);
  border-bottom: 1px solid rgb(240,240,240);
  
  z-index: 100;
  cursor: pointer;
  height: 10px;
  width: 100%;
  
  box-sizing: border-box;

}
.post_item_intermediate_circle {
  width: 50px;
  height: 50px;
  padding: 13px;
  text-align: center;
  border-radius: 50%;
  color: rgb(200,200,200);
  border: 1px solid rgb(240,240,240);

  z-index: 10;
  position: absolute;
  
  top: -22px;
  left: 8px;
  background: white;

  cursor: pointer;
}
.post_item_intermediate_circle:hover {
   box-shadow: 0 2px 2px rgba(0,0,0,.14),0 2px 5px rgba(0,0,0,.28);
}
.post_item_info {
  width: 50px;
  float: left;
}
.post_item_pending {
  margin-top: 50px;
  padding-top: 10px;
  width: 100%;
  border-top: 1px dotted rgb(240,240,240);
  bottom: 30px;
}
.post_item_img_block {
  margin: 0px auto;
  overflow:hidden;  _overflow:visible;  zoom:1;
  
}
.post_item_img_block_img {
  margin: 0px 3px;
  display: inline-block;
}
.post_item_pending_text {
  font-size: 14px;
  vertical-align: top;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 6px;
  float: left;
  text-align: center;

}
.post_item_pending_text_count {
  font-size: 20px;
  font-size: 800;
}
.post_item_img {
  width: 50px;
  border-radius: 50%;
}
.post_item_img_responded {
  margin-top: 40px;
}
.post_item_vote {
  text-align: center;
  font-size: 12px;
}
.post_item_order {
  text-align: center;
  font-size: 12px;
  width: 100%;
  margin-bottom: 6px;
  background: rgb(220,220,220);
}
.post_item_content {
  overflow: hidden;  
  _overflow: visible;  
  zoom: 1; 
  padding: 0px 0px 0px 8px;
}
.post_item_author, .post_item_recommend, .post_item_date {
  color: #9E9E9E;
  font-weight: 700;
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif;

}
.post_item_recommend {
  position: absolute;
  right: 40px;
  top: 9px;

}
.post_item_date {
  position: absolute;
  right: 8px;
  top: 8px;
}
.post_item_main {
  margin: 6px 0px 20px 0px;
}
.post_item_title {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.post_item_text, .post_item_text p {
  /* white-space: pre-wrap; */
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: 2px;
}
.post_item_text_preview, .post_item_text_preview p {
  font-size: 16px;
  line-height: 1.4;
  margin: 6px 0px;

}

.post_action {
  position: absolute;
  bottom: 4px;
  left: 0px;
  border-top: 1px solid rgb(230,230,230);
  box-sizing: border-box;
  padding-top: 5px;
  width: 100%;
  
}
.post_action_button {
  display: inline-block;
  min-width: 60px;
  font-size: 14px;
  height: 30px;
  text-align: center;
  padding: 4px 12px;
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(100,100,100);
}
.post_action_button_icon {
  width: 20px;
  vertical-align: top;
}
.post_action_button:hover, .post_action_button.signed, .post_action_button_icon:hover{
  color: #009688;

}
/* ------------------------------------------------------------ */
/* related item
/* ------------------------------------------------------------ */ 
.related_item {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  height: auto;
}
.related_item_inner {
  padding: 8px;
  background: white;
  min-height: 80px;
  overflow: hidden;
}
@media screen and (max-width: 400px){
  .related_item {
      width: 100%;
  }
  .related_item_inner {
    min-height: 80px;
    font-size: 14px;
  }
}
.related_item_info {
  float: left;
  padding-top: 4px;
}
.related_item_content {
  overflow:hidden;  _overflow:visible;  zoom:1; 
  padding-left: 6px;
}
.related_item_meta {
  font-size: 16px;
  font-weight: 700;
}
.related_item_main {
  font-size: 16px;
  margin-top: 0px;
  line-height: 1.4;
}
.related_item_botton {
  margin-top: 10px;
  margin-bottom: 20px;
}
.related_item_botton a.button {
  color: #424242;
  background: white;
  width: 100px;
}
/* ------------------------------------------------------------ */
/* page nav / tab nav
/* ------------------------------------------------------------ */ 
.page_nav {
  z-index: 100;
  color: white;
  width: 100%;
  box-sizing: border-box;
  background: rgb(220, 220, 220);
  position: fixed;
  top: 0px;
  
}
.page_nav_title {
  display: inline-block;
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.4em;
}
.page_nav_right {
  position: absolute;
  right: 6px;
  top: 6px;
}
.page_nav_left {
  position: absolute;
  left: 6px;
  top: 6px;
}
.page_nav_button {
  width: 45px;
  height: 45px;
  padding-top: 12px;
  margin: 2px 0px 0px 2px;
  
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  color: white;
}
.page_nav_button_wide {
  padding: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-weight: 700;
}
.page_nav_button:hover {
  background: rgba(120,120,120,0.3);
}
.page_nav_list {
  min-height: 50px;
  background: #E0E0E0;
  
}
.page_nav_list.padding {
  padding: 8px;
}
.page_nav_tab {
  height: 35px;
  display: inline-block;
  width: 58px;
  text-align: center;
  padding-top: 8px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  font-size: 14px;

}
.page_nav_tab.space {
  height: 40px;
}
.page_nav_tab_right {
  position: absolute;
  right: 0px;
  top: 0px;
}
.page_nav_tab.active {
  border-bottom: 3px solid #FFEB3B;
}
.page_nav_tab.active--inline {
  color: #00695C;
}
/* ------------------------------------------------------------ */
/* comment item
/* ------------------------------------------------------------ */ 

.comment_item {
  background: white;
  padding: 8px; 
  min-height: 150px;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(240,240,240);

}
.comment_item_info {
  border-bottom: 1px solid rgb(240,240,240);

}
.comment_item_img {
  width: 40px;
  float: left;
}
.comment_item_info_text {
  overflow: hidden;
  overflow: _visible;
  zoom: 1;
  color: #9E9E9E;
  font-weight: 700;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;

  min-height: 45px;
  padding: 4px 0px 0px 6px;

}
.comment_item_vote {
  float: right;
  font-size: 14px;
  padding-top: 3px;
  padding-right: 6px;
  text-align: center;
}
.comment_item_main {
 
}
.comment_input_item {
  background: white;
  margin-bottom: 5px;
  padding: 8px; 
  padding-bottom: 40px; 
  position: relative;
  border-bottom: 1px solid rgb(240,240,240);

}
.comment_input_item textarea {
  border: 1px solid rgb(230,230,230);
  width: 100%;
  resize: none;
  height: 80px;
  font-size: 14px;
}

.comment_action {
  position: absolute;
  bottom: 5px;
  left: 0px;
  box-sizing: border-box;
  padding-top: 5px;
  width: 100%;
  text-align: right;
  
}
.push_comment_action {
  
  box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
  text-align: right;
  
}
.push_comment_line {
  /* border-top: 1px solid rgb(230,230,230); */
}
.push_comment_action_button {
  display: inline-block;
  min-width: 80px;
  font-size: 14px;
  height: 30px;
  text-align: center;
  padding: 4px 8px;
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(100,100,100);
  font-weight: 700;
  
}
.comment_action_button {
  display: inline-block;
  min-width: 80px;
  font-size: 14px;
  height: 30px;
  text-align: center;
  padding: 4px 12px;
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(100,100,100);
  font-weight: 700;
  
}
.comment_action_button:hover{
  color: #009688;

}
/*-- search --*/
.content_title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0px;
}
.search_result_item {
  background: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0px;
  margin: 60px 0px 20px 0px;
}
.search_result_title {
  font-weight: 700;
}
.keywords {
  background: rgb(255,255,202);
}