<div class="list_paper md-whiteframe-z1">
    <div class="list_paper--inner">
        <p>蔡英文（英語：Tsai Ing-wen，1956年8月31日－），屏東縣枋山鄉楓港人[1]，於臺北市中山區的家中[2]出生，是臺灣的學者及政治人物，先後獲得國立臺灣大學法學院學士、康乃爾大學法學碩士和倫敦政治經濟學院法學博士學位[3]。現任民主進步黨主席。</p>
        <p>在英國倫敦政經學院取得博士學位後，於東吳大學、政治大學擔任法學教授，專長為國際貿易法、反托拉斯法等，擔任教職期間亦曾受聘於中央銀行和行政院經濟部擔任GATT與WTO的談判顧問。在李登輝政府期間曾擔任智慧財產局委員和國安會經濟諮詢委員，陳水扁政府期間任行政院政務委員、陸委會主任委員及行政院副院長。</p>
        <p>2004年加入民主進步黨，接受提名為民進黨不分區立法委員。2008年首次第12屆當選民主進步黨主席，成為臺灣主要政黨中第一位女性黨主席，並於2010年第13屆當選連任。2012年代表該黨參選總統，成為中華民國史上首位女性第13任總統候選人，唯敗於競選連任的馬英九。2014年，以歷屆最高票，第15屆第三度當選黨主席。</p>

    </div>
</div>