<div class="question_bottom" ng-show="!showCommentStream">
    <a class="button" ng-click="showCommentStream = true;">顯示討論</a>
</div>

<div ng-show="showCommentStream">
<!---
<div class="comment_item md-whiteframe-z1" ng-repeat="p in posts">
    <div class="comment_item_info">
      <img class="comment_item_img" ng-src="images/comment/{{p.uploaded_avatar_id}}.png">
      <div class="comment_item_vote">{{p.id | number:0 }}<br/>推薦</div>
      <div class="comment_item_info_text">
          <div>{{p.name}}</div>
          <div>{{'1408972191347' | date }}</div>
      </div>
    </div>
    <div class="comment_item_main">
        <div class="post_item_text" ng-bind-html="toTrusted(p.cooked)"></div>
    </div>
    
</div>
-->


<div class="list_paper md-whiteframe-z1">

 
  <div class="comment_control_item">
      <div class="comment_control_item_title">共有 4 個討論</div>
      <div class="comment_add_button md-whiteframe-z1" ng-click="toggleComment()" ><i class="fa fa-plus"></i></div>

      <div class="comment_control_item_action">
          <div class="page_nav_tab" ng-class="{'active':order==='signatures_count'}" ng-click="order='signatures_count'">熱門</div>
          <div class="page_nav_tab" ng-class="{'active':order==='post_timestamp'}" ng-click="order='post_timestamp'">最新</div>
      </div>
  </div>


  <!-- Comment INput -->
  <!-- * * * * * *  -->
  <div class="comment_input_item" ng-show="comment">
    <div class="post_item_info">
        <img class="post_item_img" ng-src="images/user.jpg">
    </div>
    <div class="post_item_content">
        <textarea placeholder="輸入文字"></textarea>
    </div>
    <div class="comment_action">
        <div class="comment_action_button">送出</div>
    </div>
 </div> 
  <!-- Comment Cards -->
    <div class="comment_item" ng-repeat="p in posts">
          <div class="post_item_info">
          <div class="post_item_order">#{{p.post_number}}</div>
          <img class="post_item_img" ng-src="images/comment/{{p.uploaded_avatar_id}}.png">
          <div class="post_item_vote">{{p.votes | number:0 }}<br/>推薦</div>
          
          </div>
    
          <div class="post_item_content">
        <div class="post_item_author" >{{p.name}}</div>
        <div class="post_item_date" >{{'1408972191347' | date }}</div>
        
        <div class="post_item_main">
          <div class="post_item_text" ng-bind-html="toTrusted(p.cooked)"></div>
        </div>
          </div>
    
          
    </div>
</div>
<div class="question_bottom">
    <a class="button" ng-click="seeMore()">更多</a>
</div>

</div>
