<div class="comment_input_item md-whiteframe-z1" ng-show="comment">
    <div class="post_item_info">
          <img class="post_item_img" ng-src="images/user.jpg">
    </div>
    <div class="post_item_content">
        <textarea placeholder="輸入文字"></textarea>
    </div>
    <div class="comment_action">
        <div class="comment_action_button">送出</div>
    </div>
</div> 

<div class="question_bottom" ng-show="!showCommentStream">
    <a class="button" ng-click="showCommentStream = true;">顯示討論</a>
</div>

<div ng-show="showCommentStream">
<div class="comment_item md-whiteframe-z1" ng-repeat="p in posts">
    <div class="comment_item_info">
      <img class="comment_item_img" ng-src="images/comment/{{p.uploaded_avatar_id}}.png">
      <div class="comment_item_vote">{{p.id | number:0 }}<br/>推薦</div>
      <div class="comment_item_info_text">
          <div>{{p.name}}</div>
          <div>{{currentQ.post_timestamp | date }}</div>
      </div>
      
    </div>
   

    <div class="comment_item_main">
        <div class="post_item_text" ng-bind-html="toTrusted(p.cooked)"></div>
    </div>
    
</div>
<div class="question_bottom">
    <a class="button" ng-click="seeMore()">更多</a>
</div>

</div>
