
<div ng-controller="AuthCtrl"><div ng-controller="NavCtrl as Nav">
<div ng-include="'partials/nav.html'"></div>
<div id="content">
    <!-- control -->
    <div class="person_list_top padding">
      <div class="person_list_title">連絡我們</div>
    </div>
    <!-- -->
    <div class="wrapper">
        <div class="list_paper--content md-whiteframe-z1">
            <ul>
                <li>網站使用詢問、錯誤回報、機制建議，請聯絡：<a class="link" href="mailto:info@watchout.tw">info@watchout.tw</a></li>
                <li>合作建議，請聯絡：<a class="link" href="mailto:zuyi.lin@watchout.tw">zuyi.lin@watchout.tw</a></li>
            </ul> 
        </div>
    </div><!-- end of wrapper -->
   
</div><!-- q_content -->
</div><!-- Nav -->
</div><!-- Auth -->
