<div ng-controller="AuthCtrl">
<div ng-controller="NavCtrl">

<div ng-include="'partials/nav.html'"></div>

<!-- LEFT & RIGHT BUTTON -->
<div class="page_button page_left" ng-click="previousPolicy()"><i class="fa fa-chevron-left"></i></div>
<div class="page_button page_right" ng-click="nextPolicy()"><i class="fa fa-chevron-right"></i></div>
<!-- . . . . . . . . . . . . -->

<div id="content" ng-click="resetFocus()">
  <div id="page_content">

  <!-- Person -->
  <div class="wrapper" id="policy">
  
  <!-- ......... -->      
  <div class="person_intro">
      
      
      <div class="person_intro_info">
        <img class="person_intro_img" src="images/candidates/{{candidate.name}}.jpg">
        <div class="person_intro_right">
            <div class="person_intro_name_area">
              <div class="person_intro_name">{{candidate.name}}</div>
              <div class="person_intro_title">{{candidate.title}}</div>
            </div>
            
            <a class="button" id="person_intro_follow"><i class="fa fa-rss"></i> 訂閱</a>
        </div>
      </div>

      <div class="person_intro_menubar">
          <div class="person_intro_menuitem">提問</div>
          <a href="#/group/{{candidate.name}}/respond"><div class="person_intro_menuitem">回答</div></a>
          <div class="person_intro_menuitem">說明</div>
          <a href="#/group/{{candidate.name}}/person"><div class="person_intro_menuitem person_intro_menuitem--active">參選人</div></a>
          
          <div class="person_intro_menuitem" ng-click="showsidebar('toggle')">更多</div>
      </div>
      
  
  </div>
  <!-- ......... -->

      <span ng-if="!candidate.due">
          <!-- ASK QUESTION -->
          <div class="ask_item" ng-click="toogleAskQuestionForm()" ng-if="user&&!liveAskQuestionForm"><i class="fa fa-plus ask_icon"></i></div>

          <!-- ASK QUESTION (未登入)-->
          <div class="ask_item" ng-click="showLoginTip()" ng-if="!user"><i class="fa fa-plus ask_icon"></i></div>
      </span>

      <!-- ASK QUESTION FORM -->
      <div class="ask_form" ng-class="{'ask_form_minimize':!showAskQuestionForm}" ng-if="liveAskQuestionForm">
          <div class="ask_form_title"><i class="fa fa-paper-plane-o"></i> 對{{candidate.name}}的政策提問：
              <div class="ask_form_remove" ng-click="toogleAskQuestionForm()"><i class="fa fa-minus"></i></div>
          </div>
          <div class="ask_form_listitem"><span class="ask_form_subtitle">提問政策</span>{{currentPolicy.title}}</div>
          <div class="ask_form_listitem">
            <span class="ask_form_subtitle">問題簡述</span>
            <input placeholder="請在此輸入簡短清楚的問題簡述">
          </div>

          <div class="ask_form_content">
              <textarea placeholder="問題說明：您可以在此進一步說明您的問題"></textarea>
              <div class="ask_form_functions">
                <a class="button"><i class="fa fa-bullhorn"></i> 送出</a>
                <span class="ask_form_trash" ng-click="deleteAskQuestionForm()"><i class='fa fa-trash-o'></i></span>
              </div>
          </div>
      </div>
  </div>

  

  <!-- * * * * * *  -->
  
  <div class="wrapper">

  <a ng-repeat="person in persons" href="#/person/{{person.name}}"
        ng-hide="isCollectionMenuSelected('collecting')&&!person.deadline">
        <div class="person_item">
            <img class="person_img" src="images/candidates/{{person.name}}.jpg">
            <div class="person_name">{{person.name}}</div>
            <div>累積回答：{{person.answered}} 題</div>
            <div ng-hide="person.deadline">最新回答：{{person.latest}}</div>
            <div ng-show="person.deadline">連署截止：{{person.deadline}}</div>

        </div>
        </a>
  
  
  
  
  
  </div><!-- wrapper -->
  </div>
<div ng-include="'partials/footer.html'"></div>
</div><!-- content -->
</div><!-- Nav -->
</div><!-- Auth -->
