<div ng-controller="AuthCtrl">
<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>

<div id="content">
    <div class="cover">
        <div class="cover_title_wrap">
          <div class="cover_title">just ask</div>
          <div class="cover_botton_wrap">
              <div class="cover_botton" ng-click="go('person/蔡英文')">Get Involved</div>
          </div>

        </div>
        <img class="cover_img" ng-src="images/{{cover}}.jpg">
       
    </div>

    <div class="wrapper">
       
        <div class="list_paper md-whiteframe-z1">

        <div class="list_paper---control_panel l_center">
        
        <!--<div class="list_paper---control_button" ng-click="setCollectionMenuitem('collecting')"><a class="button--wide" ng-class="{'active':isCollectionMenuSelected('collecting')}" > 提問中</a></div>
        <div class="list_paper---control_button" ng-click="setCollectionMenuitem('all')"><a class="button--wide" ng-class="{'active':isCollectionMenuSelected('all')}" > 全部</a></div>-->
        
        
        <!-- MORE controls -->
        <div class="list_paper---right_control_button" ng-click="controlMenu=!controlMenu;" ng-class="{'active':controlMenu}"><i class="fa fa-ellipsis-v"></i></div>
        
        <div class="list_paper---right_control_set md-whiteframe-z1" ng-show="controlMenu" ng-click="controlMenu=!controlMenu;">
          <div class="list_paper---right_control_set_item" ng-class="{'active':isCollectionMenuSelected('collecting')}" ng-click="setCollectionMenuitem('collecting')"><i class="fa fa-paper-plane"></i> 提問中</div>
          <div class="list_paper---right_control_set_item" ng-class="{'active':isCollectionMenuSelected('all')}" ng-click="setCollectionMenuitem('all')"><i class="fa fa-th-list"></i> 全部</div>
        </div>

        </div><!-- end of list_paper---control_panel -->

        <a class="person_card md-whiteframe-z1" ng-repeat="person in persons" ng-hide="isCollectionMenuSelected('collecting')&&!person.deadline" href="#/person/{{person.id}}">
           <img class="person_img" src="images/candidates/{{person.name}}.jpg">
           <div class="person_info"> 
              <div class="person_name">{{person.name}}</div>
              <div>累積回答：{{person.answered}} 題</div>
              <div ng-hide="person.deadline">最新回答：{{person.latest}}</div>
              <div ng-show="person.deadline">連署截止：{{person.deadline}}</div>
           </div>
        </a>

        </div>

        <div class="l_center">
        <div ng-click="go('about')" class="about_item_button md-whiteframe-z1">了解更多</div>
        </div>
        
    </div><!-- end of wrapper -->

    
    <div ng-include="'partials/footer.html'"></div>
</div><!-- end of content -->

</div><!-- end of auth -->
