<div class="notification_wrapper">
<div id="notification" class="notification_hide"></div>
</div>
<div id="sidebar-shadow" ng-show="sidebar"></div><!-- controlMenu -->
<div id="sidebar-container" ng-class="{'show':sidebar, 'hide':!sidebar}" ng-click="showsidebar(false)">
  <div class="sidebar-container_left">
  <!--<a class="nav_item_sidebar" ng-click="showsidebar(false)" >首頁</a>-->
  <a class="nav_item_sidebar--left" href="#/">首頁</a>
  <!-- <a class="nav_item_sidebar--left" ng-click="showsidebar(false)">提問說明</a>
  <a class="nav_item_sidebar--left" ng-click="login()" >登入</a>-->
  </div>
</div>

<header class="md-whiteframe-z1 nav_background">
  <div class="nav_list_toggle l_inline" ng-click="showsidebar('toggle')"><i class="fa fa-align-justify"></i></div>
  <!-- <img src="images/watchout_logo.svg" id="watchout_nav_logo"> -->
 
  <!--<div class="nav_search">
    <div class="nav_search_inner">
       <input class="fs" ng-model="query"><i class="fa fa-search"></i>
    </div>
  </div>-->
</header>


