<div class="notification_wrapper">
<div id="notification" class="notification_hide"></div>
</div>
<div id="sidebar-shadow" ng-show="sidebar"></div><!-- controlMenu -->
<div id="sidebar-container" ng-class="{'show':sidebar, 'hide':!sidebar}" ng-click="showsidebar(false)">
  <div class="sidebar-container_left">
  <a class="nav_item_sidebar--left" href="#/">首頁</a>
  <!-- <a class="nav_item_sidebar--left" ng-click="showsidebar(false)">提問說明</a>
  <a class="nav_item_sidebar--left" ng-click="login()" >登入</a>-->
  </div>
</div>

<header class="nav_background md-whiteframe-z1">
  <div class="nav_list_toggle l_inline" ng-click="showsidebar('toggle')"><i class="fa fa-align-justify"></i>
  </div>
<!--
  toggle control
    <div id="toggleCtrl">
        <div class="slider_wrap">
            <input type="checkbox" id="s1" ng-click="toggleSignFilter()" checked/>
            <label class="slider" for="s1"></label>
        </div>
    </div>
 -->
<!--
  <div class="page_nav_right">
      <div class="page_nav_button"><i class="fa fa-ellipsis-v"></i> </div>
  </div>
-->
</header>


