<div class="notification_wrapper">
    <div id="notification" class="notification_hide"></div>
</div>
<div id="sidebar-shadow" ng-show="sidebar" ng-click="showsidebar(false)"></div><!-- controlMenu -->
<div id="sidebar-container" ng-class="{'show':sidebar, 'hide':!sidebar}" ng-click="showsidebar(false)">
  <div class="sidebar-container_left">
    <div class="nav_item_sidebar--user_section">
        <span ng-show="!user">
            <a href="#/"><img class="nav_item_logo" src="images/logo.svg"></a>
            <div class="nav_item_login" ng-click="login();$event.stopPropagation();">登入</div>
        </span>
        <span ng-show="user">
            <img class="nav_item_user_img" src="images/user.jpg">
            <div class="nav_item_user_name">郭俊麟</div>
            <div class="nav_item_user_subscribe">我的連署<div class="nav_item_user_subscribe_count">12</div></div>

            <div class="nav_item_login" ng-click="logout();$event.stopPropagation();">登出</div>
        </span>
    </div>

    
    
      <a class="nav_item_sidebar--left" href="#/">首頁</a>
      <a class="nav_item_sidebar--left" ng-click="go('person-list')">人物列表
        <span class="nav_item_sidebar--switchmenu" ng-click="toggleSubmenu(); $event.stopPropagation();"><i class="fa" ng-class="{'fa-chevron-down':!showSubmenu,'fa-chevron-up':showSubmenu}"></i></span></a>

    

    <!-- sub -->
    <div class="submenu" ng-class="{'show':showSubmenu}">
        <a class="nav_item_sidebar--sub" href="#/person/{{p.id}}/" ng-repeat="p in persons">
           <img class="nav_item_sidebar--sub_img" src="images/candidates/{{p.name}}.jpg">
           <div class="nav_item_sidebar--sub_name">{{p.name}}</div>
        </a> 
    </div>

    <!-- section hr-->
    <hr class="nav_item_sidebar--section_hr" ng-class="{'show':showSubmenu}"/>
    
    <a class="nav_item_sidebar--left" href="#/" ng-click="showsidebar(false)">網站使用教學</a>
    <a class="nav_item_sidebar--left" href="#/how-to-ask" ng-click="showsidebar(false)">如何寫出好問題</a>
    <a class="nav_item_sidebar--left" href="#/about" ng-click="showsidebar(false)">關於</a>
    <a class="nav_item_sidebar--left" href="#/contact" ng-click="showsidebar(false)">聯絡我們</a>
    
    <!-- section hr-->
    <hr class="nav_item_sidebar--section_hr"/>
  
  
  </div><!-- end of sidebar-container_left -->
</div>


<div id="nav" class="nav_background md-whiteframe-z1">
  <div class="nav_list_toggle l_inline" ng-click="showsidebar('toggle')"><i class="fa fa-align-justify"></i> 
  </div>
  <div class="nav_search">
      <div class="nav_search_inner"><input placeholder="search" ng-model="Nav.nav_query"><i class="fa fa-search"></i></div>

  </div>
  <!---->
  <div class="nav_search_tooltip" ng-show="Nav.nav_query">
      <a href="#/search"><div class="nav_search_tooltip_inner md-whiteframe-z1">全站搜尋</div></a>
  </div>

</div>



