<div class="list_paper md-whiteframe-z1">

  <div class="control_item md-whiteframe-z1">
  
  <div class="page_nav_tab" ng-class="{'active--inline':order==='post_timestamp'}" ng-click="order='post_timestamp';controlMenu=!controlMenu;">最新</div>
  <div class="page_nav_tab" ng-class="{'active--inline':order==='signatures_count'}" ng-click="order='signatures_count'">熱門</div>
  
  <div class="list_paper---left_control_set md-whiteframe-z1" ng-show="controlMenu" ng-click="controlMenu=!controlMenu;">
      <div class="list_paper---right_control_set_item" ng-class="{'active':topic==='最新提出'}" ng-click="topic='最新提出'">最新提出</div>
      <div class="list_paper---right_control_set_item" ng-class="{'active':topic==='最新連署'}" ng-click="topic='最新連署'">最新連署</div>
      <div class="list_paper---right_control_set_item" ng-class="{'active':topic==='最新討論'}" ng-click="topic='最新討論'">最新討論</div>
  </div>


  </div>


  <!-- Question Cards -->
  <!-- * * * * * *  -->
  <div class="post_item md-whiteframe-z1" ng-repeat="q in questions | filter: query | orderBy: order : true | filter: respondFilterFunction | limitTo: display_max" >
      <!-- DISPLAY questions -->
      <div ng-if="!q.responses">
          <div class="post_item_info">
          <img class="post_item_img" ng-src="images/user/{{random(q.signatures_count)}}.jpg">
          <div class="post_item_vote">{{q.signatures_count | number:0 }}<br/>連署</div>
          
          <!-- <span ng-if="q.responses">
          <img class="post_item_img post_item_img_responded" ng-src="images/candidates/{{candidate.name}}.jpg">
          <div class="post_item_vote">{{q.signatures_count/8+7 | number:0 }} Likes</div>
          </span> -->
          </div>
    
          <div class="post_item_content">
        <div class="post_item_author" >{{randomName(q.signatures_count)}}</div>
        <div class="post_item_date" >{{q.post_timestamp | date }}</div>
        
        <div class="post_item_main" ng-click="toggleQuestion(q.id);$event.stopPropagation();">
          <div class="post_item_title">{{q.title}}</div>
          <div class="post_item_text_preview">
              {{q.content[0] | limitTo:120}}{{((q.content[0]).length > 120 || q.content[1]) ? '... see more':''}}
          </div>
        </div>
          </div>
    
          <div class="post_action">
          <div class="post_action_button" ng-class="{'signed':hasSigned(q.id)}" ng-click="sign(q.id)"><img src="images/vote_cc_by.svg" class="post_action_button_icon">連署</div>
          <div class="post_action_button" ng-click="toggleComment();toggleQuestion(q.id);$event.stopPropagation();"><i class="fa fa-comments-o"></i> 討論</div>
          <div class="post_action_button"><i class="fa fa-facebook"></i> 分享</div>
          </div>
      </div>

      <!-- DISPLAY responses -->
      <div ng-if="q.responses" class="post_item_responded">
          <div class="post_item_info" >
          <img class="post_item_img" ng-src="images/candidates/{{candidate.name}}.jpg">
          <div class="post_item_vote">{{q.signatures_count/8+7 | number:0 }}<br/>推薦</div>    
          </div>

        <div class="post_item_content">
        <div class="post_item_author" >{{candidate.name}}回覆 <i class="fa fa-reply"></i> </div>
        <div class="post_item_date" >{{q.post_timestamp | date }}</div>
        
        <div class="post_item_main" ng-click="toggleQuestion(q.id);$event.stopPropagation();">
          <div class="post_item_title">{{q.title | limitTo: 30}}{{(q.title).length > 30 ? '...':''}}</div>
          <div class="post_item_text_preview">{{q.responses[0].content | htmlToPlaintext | limitTo: 120}}... see more</div>
        </div>
        </div>

          <div class="post_action">
              <div class="post_action_button"><i class="fa fa-thumbs-o-up"></i> 推薦</div>
              <div class="post_action_button" ng-click="comment=true;showCommentStream=true;toggleQuestion(q.id);$event.stopPropagation();"><i class="fa fa-comments-o"></i> 討論</div>
              <div class="post_action_button"><i class="fa fa-facebook"></i> 分享</div>
          </div>
      </div>
  </div><!-- end of post_item -->
  </div>
  <div class="question_bottom">
     <a class="button" ng-click="seeMore()">更多</a>
  </div>