<div ng-controller="AuthCtrl">
<div ng-controller="NavCtrl as Nav">
<div ng-include="'partials/nav.html'"></div>
<div ng-include="'partials/search-detail.html'"></div>

<div id="content">
<div class="wrapper">
    
    <!--<div class="search_result_item md-whiteframe-z1">搜尋 “環境” (7)</div>-->
    <div class="content_title">搜尋 “環境” (7)</div>
    
    <!-- responses -->
    <div class="list_paper md-whiteframe-z1">
    <div class="related_item" ng-repeat="p in persons" ng-click="toggleFocus(p.id)">
        <div class="related_item_inner md-whiteframe-z1">
        <div class="related_item_info">
            <img class="post_item_img" ng-src="images/candidates/{{p.name}}.jpg">  
        </div>
        <div class="related_item_content" ng-click="switchPerson(p.id)">
            <div class="related_item_meta">{{p.name}}</div>
            <div class="post_item_date" >{{p.search_count}} 個相關結果</div>
            <div class="post_item_text" ng-bind-html="toTrusted(p.search)"></div>
        </div>
    </div>
    </div><!-- list_paper -->



    

</div><!-- wrapper -->
</div><!-- content -->
</div><!-- Nav -->
</div><!-- Auth -->
